<!DOCTYPE html>
<html>
  <head>
    <style>
      /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <title>GD LRR Demon List</title>
  <link href="https://gdlrrlist.com/CSS/levelcards.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/nav.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/list.css?v=2020-10-29" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
    <!--<body style="background-color:white;">-->
      
    <%- include("../htdocs/navbar.ejs") %>

    <!-- <p><a href = "leaderboard.html">Leaderboard page</a></p>
    <p><a href = "Extendedlist.html">Extended page</a></p> -->
      
<div style="display: grid; place-items: center;">
  <h1 style="text-align: center;">Account settings for user <%= user.name %>:</h1>
  <h3 style="margin-top: -15px; text-align: center;">Discord ID: <%= locals.user.discord ? locals.user.discord : "none" %></h3>
  <h3 style="margin-top: -20px; text-align: center;">Google ID: <%= locals.user.google ? locals.user.google : "none" %></h3>
  <hr style="width: 95%; background-color: white"/>
  <h4 style="text-align: center;">Add / Change Socials</h4>
<button style="border-radius: 25px; border: 2px solid #0a0dbf; background-color: #0a0dbf; color: white;" onclick="window.location.href = 'https://discord.com/api/oauth2/authorize?client_id=1033274582855065704&redirect_uri=https%3A%2F%2Fgdlrrlist.com&response_type=code&scope=identify'"><p><img style="height: 25px; margin: -4px;" src="https://imgur.com/DXB750X.png"></img>&nbsp;&nbsp;Discord</p></button>
<p>
      <button style="border-radius: 25px; border: 2px solid #9193f2; background-color: #9193f2; color: white;" onclick="window.location.href = 'https://gdlrrlist.com/google_signin'"><p><img style="height: 25px; margin: -4px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"></img>&nbsp;&nbsp;Google</p></button>
  <% if(locals.user.discord) { %>
  <hr style="width: 95%; background-color: white"/>
  <div style="display: flex; justify-content: center;">
  <label class="switch">
  <input type="checkbox" id="mail" class="checkbox" <%= locals.user.mail_notifs ? "checked" : '' %>>
  <span class="slider round"></span>
  </label>&nbsp;
    <h3 style="margin: 5px;">Send mail notifications using LRR Bot</h3>
  </div>
    <div style="display: flex; justify-content: center;">
  <label class="switch">
  <input type="checkbox" id="pc_info" class="checkbox" <%= locals.user.pc_info ? "checked" : '' %>>
  <span class="slider round"></span>
  </label>&nbsp;
    <h3 style="margin: 5px;">Include pointercrate information on level page</h3>
  </div>
    <% } %>
</div>
      
      <hr style="width: 95%; background-color: white"/>
      <p style="text-align: center;">Leaderboard account: <a href="https://gdlrrlist.com/leaderboard/<%= locals.name %>"><%= locals.name ?? "none" %></a></p>
    <!-- scripts to include -->
    <script src="JS/dropdown.js"></script><script src="JS/darkbutton.js?v=04-27-22"></script>
      <% if(locals.user.discord) { %>
      <script>
        let element = document.getElementById("mail")
          element.onchange = async function() {
             let res = await fetch("https://gdlrrlist.com/api/v1/client/login", {
              method: "PATCH",
              headers: {
                authorization: `User ${getCookie("token")}`,
                'content-type': "application/json"
              },
              body: JSON.stringify({
                mail_notifs: this.checked
              })
            })
              console.log(res)
          }

        let element2 = document.getElementById("pc_info")
          element2.onchange = async function() {
             let res = await fetch("https://gdlrrlist.com/api/v1/client/login", {
              method: "PATCH",
              headers: {
                authorization: `User ${getCookie("token")}`,
                'content-type': "application/json"
              },
              body: JSON.stringify({
                pc_info: this.checked
              })
            })
              console.log(res)
          }
      </script>
        <% } %>
  </body>
</html>