<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>GD LRR Demon List</title>
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <link href="https://gdlrrlist.com/CSS/levelcards.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/nav.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.level._id.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/b65d578950.js" crossorigin="anonymous"></script>
    <style>
      p{
        font-weight:normal;
      }
    </style>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4543250064393866"
     crossorigin="anonymous"></script>
  </head>
  <body class = "" id="wesure">
  <%- include("../navbar.ejs") %>
    <!-- <p><a href = "leaderboard.html">Leaderboard page</a></p>
    <p><a href = "Extendedlist.html">Extended page</a></p> -->
    <div style="display: grid; place-items: center;">
       <% if(locals.editing) { %> 
         <p>Want to add a completion/progress? Go here: <a href="https://gdlrrlist.com/add">https://gdlrrlist.com/add</a>. To delete, go here: <a href="https://gdlrrlist.com/deletesub">https://gdlrrlist.com/deletesub</a></p>
         <% } %>
    <% let fe_pos = Object.keys(everything).findIndex(e => e == "Final Epilogue")+1
          %>
        <% let total_records = locals.list.length
          if(position < 76 && locals.progresses?.[0] != "none" && locals.progresses.length) {
            total_records += locals.progresses.length
          }
            %>
    <div style="display: flex; overflow: hidden;">
      <% if(position != 1) { %>
      <i class="fas fa-angle-left" style="font-size: 40px; margin:0.67em 0; " onclick="window.location.href = '/level/<%= position - 1 %>'"></i>
         <%} %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h1 id = "levelName">#<%= position %>. <%= name %></h1>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% if(position != Object.keys(everything).length) { %>
        <i class="fas fa-angle-right" style="font-size: 40px; margin:0.67em 0;" onclick="window.location.href = '/level/<%= position + 1 %>'"></i>
          <% } %>
    </div>
    <p><i>published by <%= publisher %> </i></p>

    <% let videoLink = "https://www.youtube.com/embed/" + ytcode %> 
    <iframe src="<%= videoLink %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p></p>
      <% if(!locals.editing) { %>
       <link href="/CSS/table.css?v=2022-11-12" rel="stylesheet" type="text/css" />
      <div style="display: grid; align-items: center;">
        <% if(position > fe_pos) { %>
            <h3 style="text-align: center;">Removed <%= locals.list[0].link %></h3>
          <% } else { %>
        <table style="margin-left:auto;margin-right:auto;">
          <tr id="determine_color_header">
            <th>Score (100%): <br><span style="font-weight: initial !important;"><%= locals.comp_points %></span></br></th>
          <% if(position < 76) { %> <th>Score (<%= locals.minimumPercent %>%): <br><span style="font-weight: initial !important"><%= locals.prog_points %></span></br></th> <% } %>
          </tr>
          </table>
            <p></p>
            
            <div style="border-bottom: 1px solid; margin-bottom: -15px; width: 100%">
            <h2 style="text-align: center; padding-bottom: 15px; line-height: 0px;">Records</h2>
              <% if(position < 151) { %>
        <h4 style="text-align: center;"><%= position < 76 ? `${locals.minimumPercent}% or better` : "100%" %> required to qualify.</h5>
          <% } %>
            <h6 style="text-align:center; margin-top: -17px; margin-bottom: 20px"><%= total_records %> record<% if(total_records != 1) { %>s<% } %> registered<% if(position < 76){ %>, out of which <%= locals.list.length %> <%= locals.list.length == 1 ? "is" : "are"%> 100%<% if(locals.progresses[0] != "none") { %>, and <% if(locals.progresses.length != 1) { %><%= locals.progresses.length %> are progresses<% } else { %>1 is progress<% }}%>.<% } else { %>.<% } %></h6>
        </div>
      <table>
        <tr id="determine_color_header">
          <th>Flag</th>
          <th>Holder</th>
          <th>Progress</th>
          <th>Hertz</th>
          <th>Link</th>
        </tr>
    <% for(let i = 0; i < locals.list.length; i++) {%>
     <tr style="font-weight: bold;">
       <td><% if(locals.list[i].nationality) { %> <abbr title="<%= locals.list[i].realnation.replace(/_/g, ' ') %>" style="display: inline; border-bottom:none;"><img class="nationality" src="https://raw.githubusercontent.com/lipis/flag-icons/4f420bdd2e954f6da11220f1136fa181ed7019e7/flags/4x3/<%= locals.list[i].nationality %>.svg" style="margin: -3px;"></abbr></img><% } else {%> <abbr title="International" style="display: inline; border-bottom:none;"><img class="nationality" src="https://github.com/ppy/osu-resources/blob/master/osu.Game.Resources/Textures/Flags/__.png?raw=true" width="24" height="18"></img></abbr> <% } %></td>
         <td><a href="https://gdlrrlist.com/leaderboard/<%= locals.list[i].name %>" style="color: black;"><%= locals.list[i].name %></a></td>
         <td>100</td>
         <td><%= locals.list[i].hertz %></td>
         <td><a href="<%= locals.list[i].link %>" target="_blank"><i style="color: blue;" class="fas fa-external-link-alt"></i></a></td>
       </tr>
      <% } %>
        <% if(position < 76 && locals.progresses[0] != "none") { %>
        <%  for(let i = 0; i < locals.progresses.length; i++) {%>
           <tr>
       <td><% if(locals.progresses[i].nationality) { %> <abbr title="<%= locals.progresses[i].realnation.replace(/_/g, ' ') %>" style="display: inline; border-bottom:none;"><img class="nationality" src="https://raw.githubusercontent.com/lipis/flag-icons/4f420bdd2e954f6da11220f1136fa181ed7019e7/flags/4x3/<%= locals.progresses[i].nationality %>.svg" style="margin: -3px;"></abbr></img><% } else {%> <abbr title="International" style="display: inline; border-bottom:none;"><img class="nationality" src="https://github.com/ppy/osu-resources/blob/master/osu.Game.Resources/Textures/Flags/__.png?raw=true" width="24" height="18"></img></abbr> <% } %></td>
         <td><a href="https://gdlrrlist.com/leaderboard/<%= locals.progresses[i].name %>" style="color: black;"><%= locals.progresses[i].name %></a></td>
         <td><%= locals.progresses[i].percent %></td>
         <td><%= locals.progresses[i].hertz %></td>
         <td><a href="<%= locals.progresses[i].link %>" target="_blank"><i style="color: blue;" class="fas fa-external-link-alt"></i></a></td>
     </tr>
      <% }
        }
        }%>
        <br>
        </table>
      </div>
        <% } else { %>
          <style>
   table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
    }
    td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  </style>
            <p>Records (<%= position < 76 ? locals.minimumPercent : 100 %>% Required)</p> 
              <table>
       <tr>
         <th>Nationality</th>
         <th>Hertz</th>
         <th>Percent</th>
         <th>Link</th>
         <th>Name</th>
         <th>Pos</th>
         <th>Update Info</th>
       </tr>
    <% for(let i = 0; i < locals.list.length; i++) {%>
      <tr>
        <form action="https://gdlrrlist.com/editrecordcomp/<%= locals.name %>/<%= i %>" method="post">
        <td>
     <%= locals.list[i].realnation ? locals.list[i].realnation.replace(/_/g, " ") : "None" %>
       </td>
        <td><input value="<%= locals.list[i].hertz %>" name="hertz" style="width: 4ch;"></td>
        <td>100%</td>
        <td><input value="<%= locals.list[i].link %>" name="link" style="width: <%= locals.list[i].link.length %>ch;"></td>
        <td><%= locals.list[i].name %></td>
        <td><input name="pos" type="number" value="<%= i+1 %>" style="width: 5ch;"></td>
         <td><button type="submit">Update</button></td>
        </form>
       </tr>
      <% } %>
        <% if(position < 76 && locals.progresses[0] != "none") { %>
        <%  for(let i = 0; i < locals.progresses.length; i++) {%>
     <tr>
       <form action="https://gdlrrlist.com/editrecordprog/<%= locals.name %>/<%= i %>" method="post">
        <td>
     <%= locals.progresses[i].realnation ? locals.progresses[i].realnation.replace(/_/g, " ") : "None" %>
       </td>
        <td><input value="<%= locals.progresses[i].hertz %>" name="hertz" style="width: 4ch;"></td>
       <td><%= locals.progresses[i].percent %>%</td>
        <td><input value="<%= locals.progresses[i].link %>" name="link" style="width: <%= locals.progresses[i].link.length %>ch;"></td>
        <td><%= locals.progresses[i].name %></td>
         <td><%= i+1 %></td>
         <td><button type="submit">Update</button></td>
       </form>
       </tr>
      <% }
        }%>
        </table>
          <% } %>
        </div>

    <!-- scripts to include -->
            <script>
              let element = document.getElementById("determine_color_header")
              if(localStorage.getItem("theme") == "dark") {
                element.style.background = "#ddd"
              }
            </script>
    <script src="https://gdlrrlist.com/JS/collapsible.js?v=2020-10-05"></script><script src="https://gdlrrlist.com/JS/collapsiblebig.js?v=2020-10-05"></script><script src="https://gdlrrlist.com/JS/dropdown.js"></script><script src="https://gdlrrlist.com/JS/videoresize.js"></script><script src="https://gdlrrlist.com/JS/darkbutton.js"></script>

  </body>
</html>
