<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <title>GD LRR Demon List</title>
    <link href="CSS/levelcards.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="CSS/collapsible.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="CSS/nav.css?v=2021-07-30" rel="stylesheet" type="text/css" />
    <link href="CSS/changelog.css?v=2020-10-05" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/b65d578950.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
 <script>
      (() => {
    if(localStorage.getItem("theme") == "dark") {
      document.getElementById("wesure").className = "dark-theme"
    } else {
      document.getElementById("wesure").className = ""
    }
  })()
    </script>
  <%- include("./navbar.ejs") %>


    <div id="levels-container"> 
        <h1 style = "text-align:center">Changelog</h1>
        <p style = "text-align:center">Every change that this list has ever experienced (after the creation of the Google Site), sorted by most recent at the top and least recent towards the bottom.</p>
      <p style = "text-align:center">This list changelog is no longer being maintained, but will be kept on the site directory for archive and research purposes. The changelog that is maintained is on our Discord server. please join.</p>
      <% while(everything.length > 0) { %>
      <% let array = [] %>
      <% for(let i = 0; i < everything.length; i++) { %>
        <% if(getDate(everything[i]) != getDate(everything[i-1])) {
          break;
        }
          array.push(everything[i]) %>
          <% } %>
            <% everything.splice(0, array.length) %>
          <div class = "column">
            <div class = "card">
            <button class = "collapsible">
                <div class = "title">
                    <h3 class = "date"><%= getDate(array[0].date) %> Changes:</h3>
                </div>
            </button>
                <div class = "content">
                  <% for(const item of array) { %>
                  <% if(item.event == "RECORD_ADD") { %>
                    <p dir="ltr">A completion / progress has been added on the level xo. (submission: <a href="<%= item.data.link %>" target="_blank"><%= item.data.progress %>% by <%= item.data.name %> on <%= item.data.hertz %><%= isNaN(item.data.hertz) ? "" : "hz"%></a>)</p>
                      <% }
                        }%>
                </div>
            </div>
                    </div>
      <% } %>
    </div>

    <!-- scripts to include -->
    <script src="JS/collapsible.js?v=2020-10-06"></script><script src="JS/dropdown.js"></script><script src="JS/darkbutton.js?v=2022-07-30"></script>
  </body>
</html>