<!DOCTYPE html>
<html>
  <script>
    function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

    let arrOfUsers = []
    function add(user) {
      arrOfUsers.push(user)
      document.getElementById("newDM").value = arrOfUsers.join(", ")
      document.getElementById("newDM").style.width = document.getElementById("newDM").value.length + "ch"
    }

    function list() {
   let list = document.getElementById("list")
    list.style.display = list.style.display == "block" ? "none": "block"
  }
    function deep(smt) {
      let visibility = document.getElementById(smt).style.visibility
        if(visibility == "hidden") {
  document.getElementById(smt).style.visibility = "visible"
document.getElementById(smt).style.height = "20px"
    } else {
    document.getElementById(smt).style.visibility = "hidden"
          document.getElementById(smt).style.height = "0px"
    }
              }

    async function make() {
      let text = document.getElementById("newDM").value
      if(text == "") return
      let content = await fetch("https://gdlrrlist.com/api/v1/client/dm", {
        method: "POST",
        headers: {
          'content-type': "application/json",
          authorization: `User ${getCookie("token")}`
        },
        body: JSON.stringify({
          users: text.split(", ")
        })
      })
      let json = await content.json()
      if(content.status == 201) return window.location.reload()
      document.getElementById("err").innerText = json.message
    }
  </script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <title>GD LRR Demon List</title>
    <link href='https://css.gg/search.css' rel='stylesheet'>
    <link href="CSS/levelcards.css?v=2021-04-23" rel="stylesheet" type="text/css" />
    <link href="CSS/nav.css?v=2021-07-30" rel="stylesheet" type="text/css" />
    <link href="CSS/list.css?v=2020-10-29" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/b65d578950.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
  <%- include("./navbar.ejs") %>
  <br>
  
  <div style="display: grid; place-items: center;">
    <div style="border: 1px solid; margin-bottom: 20px; max-width: 100%; height: 50px; background-color: var(--header-color)">
      <p style="text-align: center;"><i class="fa fa-sticky-note-o"></i> Create new DM (<a onclick="list()" style="text-decoration: underline;">add users</a>): <input type="text" id="newDM" disabled/><input type="button" value="Submit" onclick="make()"/></p>
      <p id="err"></p>
    </div>
    <div id="list" style="display: none; height: 200px; overflow: auto;"><input type="text" id="search"><div id="levs"><% for(const item of locals.everyone) { %>
      <p style="padding: 10px; border: 2px solid;" onclick="add('<%= item.name %>')"><%= item.name %></p>
    <% } %></div></div>
    <% for(const item of locals.messages) { %>
      <div style="border: 1px solid; margin-bottom: 20px; width: 600px; height: 150px; background-color: var(--tr-alternate)" onclick="window.location.href = '/notifications/<%= item._id.toString() %>'">
        <div style="float: left; padding-left: 10px"><img style="border-radius: 50px; margin-top: 25%" src="/icons/group_chat.png"></div>
        <h3 style="text-align: center;"><%= item.name %></h3>
        <h5 style="text-align: center; color: var(--header-color);"><%= item.users.length %> members: <%= item.users.join(", ") %></h5>
          <% if(locals.unread.includes(item._id.toString())) { %>
          <p style="text-align: center; color: var(--header-color);""><i class="fa fa-dot-circle-o" style="color: var(--header-color);"></i> Unread</p>
            <% } %>
      </div>
    <% } %>
  </div>
<script>
  document.getElementById("search").addEventListener("input", function () {
    let data = <%- JSON.stringify(locals.everyone) %>
    data = data.filter(e => e.name.toLowerCase().includes(this.value.toLowerCase()))
    let txt = ""
    for(const item of data) {
      txt += `<p style="padding: 10px; border: 2px solid;" onclick="add('${item.name}')">${item.name}</p>`
    }
    document.getElementById("levs").innerHTML = txt
  })
</script>
    <!-- scripts to include -->
     <script src="JS/collapsible.js?v=2020-10-06"></script>
     <script src="JS/dropdown.js?v=2022-04-6"></script><script src="JS/videoresize.js"></script><script src="JS/darkbutton.js?v=2022-07-30"></script>
  </body>
</html>