<!DOCTYPE html>
<html>
  <script>
    function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    function deep(smt) {
      let visibility = document.getElementById(smt).style.visibility
        if(visibility == "hidden") {
  document.getElementById(smt).style.visibility = "visible"
document.getElementById(smt).style.height = "20px"
    } else {
    document.getElementById(smt).style.visibility = "hidden"
          document.getElementById(smt).style.height = "0px"
    }
              }
  </script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <title>GD LRR Demon List</title>
    <link href='https://css.gg/search.css' rel='stylesheet'>
    <link href="https://gdlrrlist.com/CSS/levelcards.css?v=2021-04-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/nav.css?v=2021-07-30" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/list.css?v=2020-10-29" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/b65d578950.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
  <%- include("./navbar.ejs") %>

     <h1 style = "text-align:center">LRR Demon List Email #<%= locals.number %></h1>
    <br></br>
      <p style="text-align: center; font-size: 30px;">
        Subject: <%= locals.subject %> <br></br>
        Message: <%= locals.message %> <br></br>
        From: <%= locals.from %> <br></br>
        To: <%= locals.to %> <br></br>
        Date: <%= locals.date %> <br></br>
          <% if(locals.active == "notifications-from") { %>
             Read: <%= !!locals.read %> <br></br>
            <% } %>
      </p>
          <br><br>
          <div style="display: flex; justify-content: center;">
        <button onclick="window.location.href = 'https://gdlrrlist.com/notifications'" style="height: 50px;">Go Back</button>
            <% if(locals.active == "notifications-from") { %>
              <form action="https://gdlrrlist.com/notifications/hide" method="post">
                <input type="hidden" name="id" value="<%= locals._id %>">
                <button type="submit" style="height: 50px;">Delete email</button>
              </form>
            <% } %>
            <% if(locals.active != "notifications-from") { %>
            <button onclick="window.location.href = 'https://gdlrrlist.com/notifications/hide?id=<%= locals._id %>'" style="height: 50px;">Hide Email</button>
            <button onclick="window.location.href = 'https://gdlrrlist.com/notifications/compose?to=<%= locals.from %>'" style="height: 50px;">Reply to user</button>
              <% } %>
            </div>
    <!-- scripts to include -->
     <script src="https://gdlrrlist.com/JS/collapsible.js?v=2020-10-06"></script>
     <script src="https://gdlrrlist.com/JS/dropdown.js?v=2022-04-6"></script><script src="https://gdlrrlist.com/JS/videoresize.js"></script><script src="https://gdlrrlist.com/JS/darkbutton.js?v=2022-07-30"></script>
  </body>
</html>